<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <filter>
    <filter-name>AuthorFilter</filter-name>
    <filter-class>com.gxuwz.medical.web.filter.AuthorFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthorFilter</filter-name>
    <url-pattern>/index.jsp</url-pattern>
    <url-pattern>/page/*</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>log4jConfiguration</param-name>
    <param-value>/WEB-INF/classes/log4j2.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.apache.logging.log4j.web.Log4jServletContextListener</listener-class>
  </listener>
  <filter>
    <filter-name>log4jServletFilter</filter-name>
    <filter-class>org.apache.logging.log4j.web.Log4jServletFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>log4jServletFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.gxuwz.medical.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
<!--  <servlet>-->
<!--    <description>This is the description of my J2EE component</description>-->
<!--    <display-name>This is the display name of my J2EE component</display-name>-->
<!--    <servlet-name>loginServlet</servlet-name>-->
<!--    <servlet-class>com.gxuwz.medical.web.servlet.loginServlet</servlet-class>-->
<!--  </servlet>-->
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.gxuwz.medical.web.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.gxuwz.medical.web.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>com.gxuwz.medical.web.servlet.MenuServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.gxuwz.medical.web.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoleServlet</servlet-name>
    <servlet-class>com.gxuwz.medical.web.servlet.RoleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AreaServlet</servlet-name>
    <servlet-class>com.gxuwz.medical.web.servlet.AreaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/system/MenuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/system/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoleServlet</servlet-name>
    <url-pattern>/system/RoleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AreaServlet</servlet-name>
    <url-pattern>/system/AreaServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FarmerServlet</display-name>
    <servlet-name>FarmerServlet</servlet-name>
    <servlet-class>com.gxuwz.medical.web.servlet.FarmerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FarmerServlet</servlet-name>
    <url-pattern>/system/FarmerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MedicalServlet</display-name>
    <servlet-name>MedicalServlet</servlet-name>
    <servlet-class>com.gxuwz.medical.web.servlet.MedicalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedicalServlet</servlet-name>
    <url-pattern>/system/MedicalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChronicdisServlet</display-name>
    <servlet-name>ChronicdisServlet</servlet-name>
    <servlet-class>com.gxuwz.medical.web.servlet.ChronicdisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChronicdisServlet</servlet-name>
    <url-pattern>/system/ChronicdisServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeArchivesServlet</display-name>
    <servlet-name>HomeArchivesServlet</servlet-name>
    <servlet-class>com.gxuwz.medical.web.servlet.HomeArchivesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeArchivesServlet</servlet-name>
    <url-pattern>/system/HomeArchivesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountArchivesServlet</display-name>
    <servlet-name>AccountArchivesServlet</servlet-name>
    <servlet-class>com.gxuwz.medical.web.servlet.AccountArchivesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountArchivesServlet</servlet-name>
    <url-pattern>/system/AccountArchivesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PolicyServlet</display-name>
    <servlet-name>PolicyServlet</servlet-name>
    <servlet-class>com.gxuwz.medical.web.servlet.PolicyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PolicyServlet</servlet-name>
    <url-pattern>/system/PolicyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FamilyServlet</display-name>
    <servlet-name>FamilyServlet</servlet-name>
    <servlet-class>com.gxuwz.medical.web.servlet.FamilyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FamilyServlet</servlet-name>
    <url-pattern>/system/FamilyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayStantardServlet</display-name>
    <servlet-name>PayStantardServlet</servlet-name>
    <servlet-class>com.gxuwz.medical.web.servlet.PayStantardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayStantardServlet</servlet-name>
    <url-pattern>/system/PayStantardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayRecordServlet</display-name>
    <servlet-name>PayRecordServlet</servlet-name>
    <servlet-class>com.gxuwz.medical.web.servlet.PayRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayRecordServlet</servlet-name>
    <url-pattern>/system/PayRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IllCardServlet</display-name>
    <servlet-name>IllCardServlet</servlet-name>
    <servlet-class>com.gxuwz.medical.web.servlet.IllCardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IllCardServlet</servlet-name>
    <url-pattern>/system/IllCardServlet</url-pattern>
  </servlet-mapping>
<!--  <servlet>-->
<!--    <description></description>-->
<!--    <display-name>PromptUtil2</display-name>-->
<!--    <servlet-name>PromptUtil2</servlet-name>-->
<!--    <servlet-class>com.gxuwz.medical.domain.util.PromptUtil2</servlet-class>-->
<!--  </servlet>-->
<!--  <servlet-mapping>-->
<!--    <servlet-name>PromptUtil2</servlet-name>-->
<!--    <url-pattern>/PromptUtil2</url-pattern>-->
<!--  </servlet-mapping>-->
  <servlet>
    <description></description>
    <display-name>IllExpenseServlet</display-name>
    <servlet-name>IllExpenseServlet</servlet-name>
    <servlet-class>com.gxuwz.medical.web.servlet.IllExpenseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IllExpenseServlet</servlet-name>
    <url-pattern>/system/IllExpenseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuditExpenseServlet</display-name>
    <servlet-name>AuditExpenseServlet</servlet-name>
    <servlet-class>com.gxuwz.medical.web.servlet.AuditExpenseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuditExpenseServlet</servlet-name>
    <url-pattern>/system/AuditExpenseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExpenseInfoServlet</display-name>
    <servlet-name>ExpenseInfoServlet</servlet-name>
    <servlet-class>com.gxuwz.medical.web.servlet.ExpenseInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpenseInfoServlet</servlet-name>
    <url-pattern>/system/ExpenseInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemittanceExpenseServlet</display-name>
    <servlet-name>RemittanceExpenseServlet</servlet-name>
    <servlet-class>com.gxuwz.medical.web.servlet.RemittanceExpenseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemittanceExpenseServlet</servlet-name>
    <url-pattern>/system/RemittanceExpenseServlet</url-pattern>
  </servlet-mapping>
</web-app>